.App {
  text-align: center;
}


.Cargando {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(17px + 2vmin);
  color: white;
}